.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  place-content: center;
  align-items: center;
  margin-top: 60px;
  max-width: 100%;
  position: relative;

  .title {
    // font-family: "Against", sans-serif;
    font-family: "Watone", sans-serif;
    font-size: 3.5em;
    margin: 0;
  }

  .profileImage {
    width: 130px;
    height: 130px;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url("../Assets/profile.jpeg");
    background-size: cover;
    background-position: center;
  }

  .story {
    width: 70%;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;
  }

  .Vline {
    transform: rotate(-90deg);
    width: 3em;
    background-color: black;
    border: none;
    height: 0.5px;
    position: absolute;
    bottom: 15px;
  }
}

@media screen and(min-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title profile"
      "story profile";
    place-items: center;
    position: relative;
    padding-bottom: 8em;

    .profileImage {
      grid-area: profile;
      width: 400px;
      height: 400px;
      background-image: url("../Assets/profile.jpeg");
      background-size: cover;
      background-position: center;
      border: none;
    }

    .title {
      grid-area: title;
      font-size: 6em;
    }

    .story {
      grid-area: story;
      font-size: 1.6em;
      margin-top: 0;
      text-align: start;
    }

    .Vline {
      left: 0;
      right: 0;
      width: 10em;
    }
  }
}
