@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Shadows+Into+Light&display=swap");

.container {
  max-width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  height: 100vh;
  max-width: 100%;
  padding: 0;
  text-align: center;
  box-sizing: content-box;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}

.backgroundColor {
  background-image: url("../Assets/head1.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.menu {
  position: absolute;
  left: 30px;
  top: 40px;
  cursor: pointer;
}

.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 50px;
  // min-height: 600px;
  // border: 1px solid red;
  margin-bottom: 180px;
  // width: fit-content;
  min-height: 120px;
  // position: relative;

  .title {
    font-size: 3.8em;
    font-weight: 100;
    font-family: "CaviarDreams";
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    // position: relative;
    // text-transform: uppercase;
    // -webkit-text-stroke: 0.3vw #222222;
    // color: transparent;

    // &:first-of-type {
    // letter-spacing: 3px;
    // }

    // &::before {
    //   content: attr(data-text);
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   color: #100c16;
    //   -webkit-text-stroke: 0vw transparent;
    //   border-right: 2px solid #e6dbfa;
    //   overflow: hidden;
    //   animation: animate 10s linear infinite;
    // }

    @keyframes animate {
      0%,
      10%,
      100% {
        width: 0;
      }
      70% {
        width: 100%;
      }
    }
  }
}

.subtitle {
  font-family: "Caveat", "Watone", "CaviarDreams";
  position: absolute;
  bottom: 70px;
}

.Vline {
  transform: rotate(-90deg);
  width: 6em;
  background-color: black;
  border: none;
  height: 0.5px;
  position: absolute;
  bottom: 0;
}

.scrollText {
  position: absolute;
  transform: rotate(-90deg);
  color: #525252;
  right: -15px;
  font-size: 1.4em;
  font-family: "Caveat", "Roboto", "CaviarDreams";
}

.scrollArrow {
  position: absolute;
  right: 22px;
  top: 58%;
}

@media screen and(min-width: 480px ) {
  .container {
    height: 95vh;

    .section {
      height: 100%;
    }

    .titleBox {
      display: flex;
      margin-bottom: 100px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50vw;
      height: 50vh;
      border-radius: 20px;

      .title {
        font-family: "CaviarDreams";

        -webkit-text-stroke: 0;
        font-size: 100px;
        font-weight: 100;
        letter-spacing: 0px;
        // transform: rotate(-13.25deg);
        color: #2e2e2e;

        &::before {
          content: "";
          position: absolute;
          -webkit-text-stroke: 0vw transparent;
          border-right: none;
          overflow: hidden;
          animation: none;
        }
      }
    }

    .subtitle {
      font-family: "Watone", "Againts";
    }

    .scrollText {
      font-size: 2em;
      font-weight: 100;
      font-family: "Watone", "Againts";
    }

    .scrollArrow {
      top: 63%;
      right: 60px;
    }

    .subtitle {
      font-size: 2em;
      font-weight: 100;
      margin-bottom: 20px;
    }

    .Vline {
      width: 9em;
      bottom: -10px;
    }
  }
}
