.container {
  max-width: 100%;
  // border: 1px solid black;
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  height: 95vh;
  max-width: 100%;
  padding: 0;
  text-align: center;
  box-sizing: content-box;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}

.backgroundColor {
  width: 100%;
  height: 100%;
  background-image: url("../Assets/head1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  position: absolute;
  left: 30px;
  top: 40px;
  cursor: pointer;
}

.titleBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
  margin-bottom: 200px;
  width: 200px;
  height: 200px;
  position: relative;
}

.title {
  font-family: "Watone", cursive;
  font-size: 70px;
  transform: rotate(-13.25deg);
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  place-self: center;
  color: #525252;
}

.subtitle {
  font-family: "Watone", sans-serif;
  position: absolute;
  bottom: 100px;
}

.Vline {
  transform: rotate(-90deg);
  width: 6em;
  background-color: black;
  border: none;
  height: 0.5px;
  position: absolute;
  bottom: 0;
}

.scrollText {
  position: absolute;
  transform: rotate(-90deg);
  color: #525252;
  right: -30px;
  font-size: 1.2em;
  font-family: "Watone", sans-serif;
}

.scrollArrow {
  position: absolute;
  right: 15px;
  top: 58%;
}

@media screen and(min-width: 480px ) {
  .container {
    height: 100vh;

    .section{
      height: 100%;
    }
    .titleBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      position: relative;

      .title {
        font-size: 140px;
        font-weight: 100;
        letter-spacing: 10px;
        position: absolute;
        color: #3d3d3d;
      }
    }

    .scrollText{
      font-size: 2em;
      font-weight: 100;
    }

    .scrollArrow{
      top: 63%;
      right: 45px;
    }

    .subtitle{
      font-size: 2em;
      font-weight: 100;
      margin-bottom: 0;
    }

    .Vline{
      width: 9em;
      bottom: -10px;
    }
  }
}
