.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  height: 400px;
  position: relative;

  .Vline {
    top: 25px;
    position: absolute;
    height: 0.5px;
    transform: rotate(-90deg);
    width: 3em;
    background-color: white;
    align-self: center;
    justify-self: center;
    margin: auto;
    border: none;

    &:nth-of-type(2) {
      bottom: 28px;
      top: initial;
    }
  }

  .title {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
  }

  .skillsContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;

    .row {
      display: flex;
      margin: 10px 0;

      &:nth-of-type(2) {
        width: 60%;
        justify-content: space-between;
      }
    }

    .skill {
      font-family: "Roboto";
      font-weight: 100;
      font-size: 1.2em;
      color: white;
      margin: 10px 20px;
      animation: skillAnimation;
      animation-duration: 1500ms;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;
    }
  }
}

@media screen and(min-width: 480px) {
  .container {
    display: flex;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 2.2em;
      text-decoration: underline 1px;
      margin: 0;
      margin-bottom: 80px;
      justify-self: flex-start;
      text-underline-offset: 8px;
    }

    .skillsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      place-items: center;
      grid-gap: 60px 0;
      grid-template-areas:
        " first second third fourth"
        " fifth fifth sixth sixth";

      .skill {
        font-size: 1.8em;

        &:nth-of-type(1) {
          grid-area: first;
        }

        &:nth-of-type(2) {
          grid-area: second;
        }

        &:nth-of-type(3) {
          grid-area: third;
        }

        &:nth-of-type(4) {
          grid-area: fourth;
        }

        &:nth-of-type(5) {
          grid-area: fifth;
        }

        &:nth-of-type(6) {
          grid-area: sixth;
        }
      }
    }
  }
}

@keyframes skillAnimation {
  0% {
    opacity: 0.5;
  }

  25% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.5;
  }
}
